body{
    margin: 00px;
}
.topd{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 4%;
}
.topd img{
    width: 100%;
    margin-top: 2%;
}
#topid{
margin-top: 10%;
}
.tops{
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.click-id{
    background-color: palevioletred;
    color: white;
    padding: 7px;
    border-radius: 5px;
}
section{
    height: 500px;
    margin-bottom: 200px;
    padding-bottom: 200px;
}







.topd2{
    width: 40%;
    float: right;
    margin-left: 6%;
    padding-left: 4%;
}
.topd2 img{
    width: 80%;
    margin-top: 2%;
}
#topid2{
margin-top: 10%;
}
.tops2{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}





.lastd{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}

.lastd img{
    width: 100%;
    padding-top: 40%;
}

.lasts{
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#lasth{
    text-align: center;
}




.finis{
    text-align: center;
    background-image: url(image/footer-bg.png);
    background-repeat: no-repeat;
    
}
.hi{
    background-color: palevioletred;
    padding: 10px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px;
}


#fotter{
    text-align: center;
}